
<section class="upcomingevents" id="upcomingevents" aria-labelledby="upcomingevents-label">
  <div class="container">

    <div class="card upcomingevents-card">

      <div class="card-content">

        <h2 class="headline headline-2 section-title upcomingevents-title" id="upcomingevents-label">
          Upcoming events
        </h2>

        <p class="card-text">
          Don't miss out our future events !
        </p>

        <div class="btn-group">
          <button class="btn-icon" aria-label="previous" data-slider-prev>
            <ion-icon name="arrow-back" aria-hidden="true"></ion-icon>
          </button>

          <button class="btn-icon" aria-label="next" data-slider-next>
            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </button>
        </div>

      </div>

      <div class="slider" data-slider>
        <ul class="slider-list" data-slider-container>

          <li class="slider-item">
            <a href="#" class="slider-card">

              <figure class="slider-banner img-holder" style="--width: 1080px; --height: 1080px;">
                <img src="./upcoming/jclub.jpg" width="1080px" height="1080px" loading="lazy" alt="Sport"
                  class="img-cover">
              </figure>

              <div class="slider-content">
                <span class="slider-title">La Journée des Clubs</span>

                <p class="slider-subtitle">2024</p>
              </div>
            </a>
          </li>

          <li class="slider-item">
            <a href="#" class="slider-card">

              <figure class="slider-banner img-holder" style="--width: 1080px; --height: 1080px;">
                <img src="./upcoming/generalassembly.jpg" width="1080px" height="1080px" loading="lazy" alt="Sport"
                  class="img-cover">
              </figure>

              <div class="slider-content">
                <span class="slider-title">Assemblée génerale</span>

                <p class="slider-subtitle">2024</p>
              </div>
            </a>
          </li>

        </ul>
      </div>

    </div>

  </div>
</section>