---
import TeamMemberCard from "./cards/TeamMemberCard.astro";

const members = [
  {
    "name": "Belbaraka Adam",
    "position": "Team Leader",
    "image": "https://aeronautics.ensamien.com/Board/picadam.jpg",
    "socialLinks": {
      facebook: "https://web.facebook.com/baba.yoga.3762?locale=fr_FR",
      instagram: "https://www.instagram.com/adam_belbaraka/",
      linkedin:"https://www.linkedin.com/in/adam-belbaraka-049946228/",
      email:"belbaraka.adam@ensam-casa.ma",
    }
  },
  {
    "name": "El Alaoui Najib Aya",
    "position": "Associate Team Leader",
    "image": "https://aeronautics.ensamien.com/Board/picaya.jpg",
    "socialLinks": {
      instagram: "https://www.instagram.com/elayaa.23/",
      linkedin:"https://www.linkedin.com/in/aya-el-alaoui-najib-156562298/",
      email:"elalaouinajib.aya@ensam-casa.ma",
    }
  },
  {
    "name": "Ait Abdelmalek Doha",
    "position": "General Secretary",
    "image": "https://aeronautics.ensamien.com/Board/picdoha.jpg",
    "socialLinks": {
      instagram: "https://www.instagram.com/doha_abdel?utm_source=qr&igsh=cWtsOHlsOHp2ejdn",
      linkedin:"https://www.linkedin.com/in/doha-abdelmalek-a17a5a2a2?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app",
      email:"aitabdelmalek.doha@ensam-casa.ma",
    }
  },
  {
    "name": "Hadri Maria",
    "position": "Treasurer",
    "image": "https://aeronautics.ensamien.com/Board/picmaria.jpg",
    "socialLinks": {}
  },
  {
    "name": "Choubik Houssam",
    "position": "Logistics Manager",
    "image": "https://aeronautics.ensamien.com/Board/pichoussam2.jpg",
    "socialLinks": {
      facebook: "https://web.facebook.com/houssam.clap/?locale=fr_FR",
      instagram: "https://www.instagram.com/houssam_clap/",
      linkedin:"https://www.linkedin.com/in/houssam-choubik-5b4ba3316/",
      email:"choubikhoussam@gmail.com",
    }
  },
  {
    "name": "Jaouhari Khadija",
    "position": "Training Manager",
    "image": "https://aeronautics.ensamien.com/Board/pickhadija.jpg",
    "socialLinks": {
      facebook: "https://www.facebook.com/profile.php?id=100091000879635&mibextid=ZbWKwL",
      instagram: "https://www.instagram.com/khadija__jaou?igsh=c28wZGlxMm0yZzJk",
      linkedin:"https://www.linkedin.com/in/khadija-jaouhari-24908625b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app",
      email:"jaouhari.khadija@ensam-casa.ma",
    }
  },
  {
    "name": "Hamri Chaimaa",
    "position": "Sponsorship and External Communication Manager",
    "image": "https://aeronautics.ensamien.com/Board/picchaimaa1.jpg",
    "socialLinks": {
      facebook: "https://www.facebook.com/chay.mri?mibextid=ZbWKwL",
      instagram: "https://www.instagram.com/call_me_chaimaa_?igsh=enhsYnVrZmMwdmMy",
      linkedin:"https://www.linkedin.com/in/chaimaa-h-070256244/",
      email:"hamri.chaimaa@ensam-casa.ma",
    }
  },
  {
    "name": "El Mouafik Fatima-Ezzahra",
    "position": "Event Manager",
    "image": "https://aeronautics.ensamien.com/Board/picfati1.jpg",
    "socialLinks": {
      facebook: "https://www.facebook.com/share/qoarcfpzvLQhdrra/?mibextid=LQQJ4d",
      instagram: "https://www.instagram.com/fatima_ezzahra_el_mouafik?igsh=MTBiM2l0NTI3MjhhNw%3D%3D&utm_source=qr",
      linkedin:"https://www.linkedin.com/in/fatima-ezzahra-el-mouafik-513401316?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app",
      email:"elmouafik.fatima-ezzahra@ensam-casa.ma",
    }
  },
  {
    "name": "Mokaddem Abdennour",
    "position": "Design Manager",
    "image": "https://aeronautics.ensamien.com/Board/picabdennour.jpg",
    "socialLinks": {
      facebook: "https://www.facebook.com/abdennour.mokadim.9?mibextid=LQQJ4d",
      instagram: "https://www.instagram.com/abdennour_mokaddem04?igsh=OXFsc2h5cnE0Z3Jo&utm_source=qr",
      linkedin:"https://www.linkedin.com/in/abdennour-mokaddem-b72427321?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app",
      email:"mokaddem.abdennour@ensam-casa.ma",
    }
  },
  {
    "name": "Idyouss Hafsa",
    "position": "Media Manager",
    "image": "https://aeronautics.ensamien.com/Board/pichafsa.jpg",
    "socialLinks": {
      facebook: "https://web.facebook.com/baba.yoga.3762?locale=fr_FR",
      instagram: "https://www.instagram.com/adam_belbaraka/",
      linkedin:"https://www.linkedin.com/in/adam-belbaraka-049946228/",
      email:"idyouss.hafsa@ensam-casa.ma",
    }
  }
];
---

<h2 id="aboutus" class="headline headline-2 section-title boardtitle">
  <span class="span" id="spanabout">Our Executive Board</span>
</h2>
<section class="meet-the-team">
  <div class="team-container">
    {members.map((member) => (
      <TeamMemberCard {...member} />
    ))}
  </div>
</section>