
<footer id="footer">
  <div class="container">

    <div class="card footer">

      <div class="section footer-top">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="./Images/AERO.svg" width="119" height="37" loading="lazy" alt="Wren logo">
          </a>

          <p class="footer-text">
            Crafting the wings of the future
          </p>

          <p class="footer-list-title">Address</p>

          <address class="footer-text address">
            50 Avenue Nile Sidi Othman,<br>
            Casablanca 2067
          </address>

        </div>

        <div class="footer-list">

          <p class="footer-list-title">Categories</p>

          <ul>

            <li>
              <a href="index.html" class="footer-link hover-2">Home</a>
            </li>

            <li>
              <a href="#upcomingevents" class="navbar-link hover-2" >UpComing Events</a>
            </li>

            <li>
              <a href="#projects" class="footer-link hover-2">Projects</a>
            </li>

            <li>
              <a href="#activities" class="footer-link hover-2">Activities</a>
            </li>

            <li>
              <a href="#aboutus" class="footer-link hover-2">About us</a>
            </li>

            <li>
              <a href="#footer" class="footer-link hover-2">Contact</a>
            </li>


          </ul>

        </div>

        <div class="footer-list">
          <p class="footer-list-title">Contact us </p>

          <p class="footer-text">
          
          </p>

          <!-- Start of the form -->
          <form action="https://api.web3forms.com/submit" method="POST">
            <input type="hidden" name="access_key" value="65efa49b-c50f-414f-b166-07f4a17623b9">
            <div class="input-wrapper">
              <input type="text" name="name" placeholder="Your name" required class="input-field" autocomplete="off">
              <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
            </div>

            <div class="input-wrapper">
              <input type="email" name="email_address" placeholder="Email address" required class="input-field"
                autocomplete="off">
              <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
            </div>

            <!-- New message field -->
            <div class="input-wrapper1">
              <textarea name="message" placeholder="Your message" required class="input-field"
                autocomplete="off"></textarea>
              <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>
            </div>

            <!-- Submit button to submit the form -->
            <button type="submit" class="btn btn-primary">
              <span class="span">Send</span>
              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </button>
          </form>
          <!-- End of the form -->
        </div>


      </div>

      <div class="footer-bottom">

        <p class="copyright">
          2024 &copy; Arts & Métiers Aeronautics <a href="#" class="copyright-link">Developed by Choubik Houssam.</a>
        </p>

        <ul class="social-list">

          <li>
            <a href="https://web.facebook.com/profile.php?id=100068042395641&locale=fr_FR" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>

              <span class="span">Facebook</span>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/arts_et_metiers_aeronautics/" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>

              <span class="span">Instagram</span>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>

              <span class="span">LinkedIn</span>
            </a>
          </li>



        </ul>

      </div>

    </div>

  </div>
</footer>
