
<header class="header" data-header>
  <div class="container">

    <a href="#" class="logo">
      <img src="./Images/AERO.svg" width="119" height="37" alt="Wren logo">
    </a>

    <nav class="navbar" data-navbar>

      <div class="navbar-top">
        <a href="#" class="logo">
          <img src="./Images/AERO.svg" width="119" height="37" alt="Wren logo">
        </a>

        <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>
      </div>

      <ul class="navbar-list">

        <li>
          <a href="#home" class="navbar-link hover-1" data-nav-toggler>Home</a>
        </li>

        <li>
          <a href="#upcomingevents" class="navbar-link hover-1" data-nav-toggler>UpComing Events</a>
        </li>

        <li>
          <a href="#projects" class="navbar-link hover-1" data-nav-toggler>Projects</a>
        </li>

        <li>
          <a href="#activities" class="navbar-link hover-1" data-nav-toggler>Activities</a>
        </li>

        <li>
          <a href="#history" class="navbar-link hover-1" data-nav-toggler>History</a>
        </li>

        <li>
          <a href="#aboutus" class="navbar-link hover-1" data-nav-toggler>About us</a>
        </li>

        <li>
          <a href="#footer" class="navbar-link hover-1" data-nav-toggler>Contact</a>
        </li>

      </ul>



      <p class="copyright-text">
        Copyright 2024 © Arts & Métiers Aeronautics.
        Developed by Choubik Houssam
      </p>

    </nav>

    <a href="#" class="btn btn-primary">Welcome</a>

    <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
    </button>

  </div>
</header>
