---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta
      name="description"
      content="Vibrant community of tech enthusiasts, innovators, and developers passionate about Google technologies and beyond."
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
